/* header styles */

.header {
    background-color: #F3F8FF;
    display: flex;
    justify-content: space-around;
    padding: 24px 120px;
    align-items: center;
}

.header_nav {
    margin-left: 260px;;
}

.nav_list {
    display: flex;
}

.nav_item {
    margin-right: 48px;
}

.nav_item:last-child {
    margin-right: 0;
}

.nav_link {
    font-family: Inter;
    font-size: 19px;
    font-weight: 800;
    line-height: 25px;
    text-align: left;
    color: #02033B;
}

.icon-logo {
    width: 157px;
    height: 54px;
}

.icon-dropdown {
    height: 7px;
    width: 12px;
}

.header_btn {
    font-family: Inter;
    font-size: 15px;
    font-weight: 800;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
    border-radius: 42px;
    background-color: #4335DE;
    padding: 16px 20px;
    border: none;

}

/* mobile styles */

.mobile {
    display: flex;
  }

  .left_mobile_block {
    padding: 124px 130px 124px 130px;
  }
  
  .mobile_title {
    font-family: inter, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 60px;
    text-align-last: left;
    line-height: 75px;
    letter-spacing: -1, 2px;
    color: #02033b;
    margin-bottom: 48px;
  }
  
  .mobile_text {
    font-family: inter, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align-last: left;
    line-height: 30px;
    color: #02033b;
    margin-bottom: 96px;
  }
  
  .mobile_btn {
    font-family: inter, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 19px;
    text-align-last: center;
    line-height: 30px;
    color: #02033b;
    background-color: #FFFFFF;
    border-radius: 42px;
    padding: 16px 20px;
  }
  
  .orange_btn {
    background-color: #ffc247;
    border: none;
    margin-right: 48px;
  }
  
  .icon-arrow {
    width: 20px;
    height: 14px;
    margin-left: 16px;
  }

/* loved styles */

.loved {
    background: linear-gradient(180deg, #F7C95F 0%, #FDB235 100%);
    padding: 83px 96px;
}

.loved_title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: -0.7px;
    text-align: left;
    color: #02033B;
    max-width: 520px;
    margin-bottom: 73px; 
}

.icon-star {
    height: 24px;
    width: 24px;
}

.loved_list {
   display: flex;
}

.loved_item {
    background-color: #FFFFFF;
    border-radius: 48px;
    padding: 35px;
    margin-right: 24px;
}

.loved_item:last-child {
    margin-right: 0;
}

.stars_block {
    margin-bottom: 24px;
}

.loved_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #02033B;
    margin-bottom: 24px;   
}

.loved_sub_text {
    font-family: Inter;
    font-size: 15px;
    font-weight: 800;
    line-height: 20px;
    text-align: left;
    color: #02033B;    
}

.loved_featured {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
}

.loved_featured_title {
    font-family: Inter;
    font-size: 23px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #02033B;
    margin-right: 73px;    
}

.featured_list {
    display: flex;
}

.featured_item {
    margin-right: 36px;
}

.featured_icon {
    width: 130px;
    height: 95px;
}

/* certo styles */

.certo {
    display: flex;
    padding: 84px 132px;
  }

.certo_left_block {
    margin-right: 60px;
    padding: 0 135px;
  }
  
  .certo_title {
    font-family: inter, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 36px;
    text-align-last: left;
    line-height: 45px;
    letter-spacing: -0, 72px;
    color: #02033b;
    margin-bottom: 43px;
  }
  
  .certo_text {
    font-family: inter, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align-last: left;
    line-height: 30px;
    color: #02033b;
    margin-bottom: 76px;
  }

  .certo_btn {
    margin-bottom: 24px;
  }

/*freedom styles */

.freedom {
  background: linear-gradient(180deg, #f3f8ff 0%, #e7effa 100%);
  padding: 84px 300px;
}

.freedom_sub_title {
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: -0.7;
  text-align: center;
  color: #02033b;
  padding: 0 100px;
  margin-bottom: 73px;
}

.freedom_block {
  box-shadow: 12px 12px 20px 0px #0000001a;
  background-color: #ffffff;
  border-radius: 48px;
  padding: 72px;
}
.freedom_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.freedom_item {
  text-align: center;
  margin-right: 48px;
  margin-bottom: 70px;
}

.freedom_item:last-child {
  margin-right: 0;
}

.featured_icon {
  margin-bottom: 24px;
}

.freedom_btn_block {
  display: flex;
  justify-content: center;
}

.ico-freedom {
  width: 72px;
  height: 72px;
}

.freedom_title {
  font-family: Inter;
  font-size: 19px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: -0.4px;
  text-align: center;
  color: #02033b;
  margin-bottom: 24px;
}

.freedom_text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #02033b;
  max-width: 210px;
  margin-bottom: 24px;
}

.freedom_btn {
  font-family: Inter;
  font-size: 19px;
  font-weight: 800;
  line-height: 22.5px;
  text-align: center;
  color: #02033b;
  background-color: #ffffff;
  padding: 16px 23px;
  border-radius: 42px;
}
/*read styles */

.read {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 84px 264px;
}

.read_left {
    border-radius: 48px ;
    background: linear-gradient(180deg, #F7C95F 0%, #FDB235 100%);
    padding: 47px 48px;
    margin-right: 120px;
}

.read_left:last-child {
  margin-right: 0;
}

.read_title {
    font-family: Inter;
    font-size: 23px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #02033B;
    margin-bottom: 25px;
}

.read_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #02033B;
    margin-bottom: 48px;   
}

.arrow_white {
  fill: #FFFFFF;
}

.blue_btn {
    font-family: Inter;
    font-size: 15px;
    font-weight: 800;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
    background-color: #4335DE;
    border-radius: 42px;
    padding: 16px 45px;
    border: none;
}

.read_btn {
    font-family: Inter;
    font-size: 15px;
    font-weight: 800;
    line-height: 18px;
    text-align: left;
    color: #02033B;
    background-color: #ffffff;
    border-radius: 42px;
    padding: 16px 22px;
}

/*someone styles */

.someone {
    background: linear-gradient(180deg, #2925CC 0%, #4B48E5 100%);
    padding: 84px 345px;
}

.someone_title {
    font-family: Inter;
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: -0.7px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.someone_text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px;   
}

.someone_btn_block {
  display: flex;
  justify-content: center;
}

/* davidlaid styles */

.davidlaid {
  padding: 84px 192px;
  background-color: #F3F8FF;
}

.davidlaid_sub_title {
    font-family: Inter;
    font-size: 56px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -1.2px;
    text-align: center;
    color: #02033B;
    margin-bottom: 72px; 
}

.davidlaid_list {
  display: flex;
}

.davidlaid_item {
  margin-right: 48px;
  border-radius: 48px;
  background-color: #ffffff;
  position: relative;
}

.davidlaid_item:last-child {
  margin-right: 0;
}

.david_img {
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}

.david_btn {
    font-family: Inter;
    font-size: 15px;
    font-weight: 800;
    line-height: 20px;
    text-align: left;
    color: #02033B;
    border-radius: 48px;
    background-color: #F3F8FF;
    padding: 12px 20px;
    border: none;
    position: absolute;
    left: 24px;
    top: 24px;
}

.davidlaid_title {
    font-family: Inter;
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #02033B;
    margin-top: 47px;
    padding: 0 55px;
}

.davidlaid_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #02033B;
    margin-top: 25px;
    padding: 0 45px;
    margin-bottom: 20px;  
}

.davidlaid_btn {
    display: flex;
    justify-content: center;
    margin-top: 72px;
}

/* footer styles */

.footer {
  background-color: #02033b;
  padding: 96px 192px;
}

.footer_wrapper {
  display: flex;
}

.footer_left {
  margin-right: 60px;
}

.footer_left_title {
  font-family: Inter;
  font-size: 23px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 49px;
}

.footer_social {
  margin-bottom: 48px;
}

.social_list {
  display: flex;
}

.social_item {
  margin-right: 40px;
}

.social_item:last-child {
  margin-right: 0;
}

.privacy_terms {
  margin-bottom: 49px;
}

.privacy_terms_text {
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  line-height: 15px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-right: 26px;
}

.privacy_terms_text:last-child {
  margin-right: 0;
}

.footer_middle {
  margin-right: 60px;
}

.footer_middle_title {
  font-family: Inter;
  font-size: 35px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  line-height: 4px;
  color: #ffffff;
  margin-bottom: 85px;
  border-bottom: 1px solid #ffffff;
}

.footer_middle_item {
  margin-bottom: 24px;
}

.footer_middle_item:last-child {
  margin-bottom: 0;
}

.footer_middle_link {
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  line-height: 15px;
  color: #ffc247;
}

.footer_right {
  border-radius: 42px;
  padding: 35px 36px;
  background: url(/images/footer_logo.svg) no-repeat #f1b857;
  background-position: center;

}

.footer_rigt_title {
  font-family: Inter;
  font-size: 23px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: -0.48px;
  color: #02033B;
  text-align: left;
  margin-bottom: 21px;
}

.footer_rigt_text {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #02033b;
  margin-bottom: 36px;
}

.footer_rigt_email {
  border-radius: 30% 0 0 30%;
  padding: 8px 140px 8px 16px;
}

.footer_rigt_btn {
  border-radius: 0 35% 35% 0;
  padding: 10px;
  background-color: #02033b;
  font-family: Inter;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
  padding: 8px 28px;
}

.copyright_text,
.footer_bottom_text {
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.footer_bottom_text {
  padding: 0 630px 0 0;
}

.copyright_dick {
 margin-bottom: 18px;
}

.copyright_text_link {
  border-bottom: 1px solid #ffffff;
}

.social {
  width: 36px;
  height: 36px;
}




