/* header styles */

.header {
    background-color: #F3F8FF;
    display: flex;
}

.nav_list {
    display: flex;
}

.nav_link {
    font-family: Inter;
    font-size: 19px;
    font-weight: 800;
    line-height: 25px;
    text-align: left;
    color: #02033B;
}

.icon-logo {
    width: 157px;
    height: 54px;
}

.icon-dropdown {
    height: 7px;
    width: 12px;
}

.header_btn {
    font-family: Inter;
    font-size: 15px;
    font-weight: 800;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
    border-radius: 42px;
    background-color: #4335DE;
    padding: 16px 20px;
    border: none;

}

/* mobile styles */

.mobile {
    display: flex;
  }
  
  .mobile_title {
    font-family: inter, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 60px;
    text-align-last: left;
    line-height: 75px;
    letter-spacing: -1, 2px;
    color: #02033b;
  }
  
  .mobile_text {
    font-family: inter, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align-last: left;
    line-height: 30px;
    color: #02033b;
  }
  
  .mobile_btn {
    font-family: inter, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 19px;
    text-align-last: center;
    line-height: 30px;
    color: #02033b;
    border-radius: 42px;
    padding: 16px 20px;
  }
  
  .orange_btn {
    background-color: #ffc247;
    border: none;
    margin-right: 48px;
  }
  
  .icon-arrow {
    width: 20px;
    height: 14px;
    margin-left: 16px;
  }

/* loved styles */

.loved {
    background-color: #F7C95F ,#FDB235;
}

.loved_title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: -0.7px;
    text-align: left;
    color: #02033B;  
}

.icon-star {
    height: 24px;
    width: 24px;
}

.loved_list {
   display: flex;
}

.loved_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #02033B;   
}

.loved_sub_text {
    font-family: Inter;
    font-size: 15px;
    font-weight: 800;
    line-height: 20px;
    text-align: left;
    color: #02033B;    
}

.loved_featured_title {
    font-family: Inter;
    font-size: 23px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #02033B;    
}

.featured_list {
    display: flex;
}

.featured_icon {
    width: 130px;
    height: 95px;
}

/* certo styles */

.certo {
    display: flex;
  }
  
  .certo_title {
    font-family: inter, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 36px;
    text-align-last: left;
    line-height: 45px;
    letter-spacing: -0, 72px;
    color: #02033b;
  }
  
  .certo_text {
    font-family: inter, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align-last: left;
    line-height: 30px;
    color: #02033b;
  }

/*freedom styles */

.freedom_title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: -0.7;
    text-align: center;
    color: #02033B;
}

.freedom_title {
    font-family: Inter;
    font-size: 19px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    color: #02033B;    
}

.freedom_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #02033B; 
}

.freedom_btn {
    font-family: Inter;
    font-size: 19px;
    font-weight: 800;
    line-height: 22.5px;
    text-align: center;
    color: #02033B; 
    background-color: #FFFFFF;
    padding: 16px 23px;
    border-radius: 42px; 
}

/*read styles */

/*someone styles */

.someone {
    background: linear-gradient(180deg, #2925CC 0%, #4B48E5 100%);
}

.someone_title {
    font-family: Inter;
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: -0.7px;
    text-align: center;
    color: #FFFFFF;
}

.someone_text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;    
}

/* davidlaid styles */

.davidlaid_title {
    font-family: Inter;
    font-size: 56px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -1.2px;
    text-align: center;
    color: #02033B;    
}

.david_btn {
    font-family: Inter;
    font-size: 15px;
    font-weight: 800;
    line-height: 20px;
    text-align: left;
    color: #02033B;   
}

.davidlaid_title {
    font-family: Inter;
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #02033B;
}

.davidlaid_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #02033B;    
}




